# Node
node_modules/
frontend/node_modules/

# Next.js build output
.next/
frontend/.next/

# local env files
.env
.env.local
frontend/.env.local

.venv

# Block
.blockchain/artifacts
.blockchain/cache
.blockchain/typechain-types
.blockchain/.env